/* .places {} */

@media (min-width: 768px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 1024px) {
  .places {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media (min-width: 1280px) {
  .places {
    padding-left: 148px;
    padding-right: 148px;
  }
}

.places__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.place {
  padding-bottom: 50px;

  display: grid;
  grid-gap: 32px;

}
@media (min-width: 768px) {
  .place {
    grid-gap: 28px;
  }
}
@media (min-width: 1024px) {
  .place {
    grid-gap: 32px;
  }
}
@media (min-width: 1280px) {
  .place {
    grid-gap: 40px;
  }
}

.place__title {
  margin: 0;
  padding: 0 16px;

  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}

.place__website {
  padding: 0 16px;
}
.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 2px;
  text-align: left;

  color: #AAAAAA;
}
.place__url-link {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  color: #FFFFFF;
  transition: opacity .3s linear;
}
.place__url-link:hover {
  opacity: .8;
  cursor: pointer;
}

.place__image {
  max-width: 320px;
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .place__image {
    max-width: 340px;
  }
}
@media (min-width: 1024px) {
  .place__image {
    max-width: 440px;
  }
}
@media (min-width: 1280px) {
  .place__image {
    max-width: 460px;
  }
}

.place__paragraph {
  margin: 0;
  padding: 0 16px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 29px;
  }
}
