.lead {
  padding-bottom: 64px;
}
@media (min-width:768px) {
  .lead {
    padding-bottom: 88px;
}
}

.lead__title {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 16px;

  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
@media (min-width:768px) {
  .lead__title {
    padding: 0 24px;
    margin-bottom: 32px;

    font-size: 96px;
    line-height: 100px;
  }
}

.lead__subtitle {
  margin: 0;
  padding: 0 16px;
  margin-bottom: 40px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
@media (min-width:768px) {
  .lead__subtitle {
    padding: 0 64px;
    margin-bottom: 56px;

    font-size: 30px;
    line-height: 36px;
  }
}

.lead__image {
  width: 100%;
  max-width: 928px;
  margin: 0 auto;
}

.lead__caption {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-top: 8px;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;
}
@media (min-width:768px) {
  .lead__caption {
    padding-left: 24px;
  }
}


















