.lead__caption {
  margin: 0 auto;
  padding: 0 16px;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: left;
  text-transform: uppercase;

  max-width: 928px;
}

@media (min-width:768px) {
  .lead__caption {
    padding: 0 24px;
  }
}

@media (min-width:1024px) {
  .lead__caption {
    padding: 0;
  }
}

@media (min-width:1280px) {
  .lead__caption {
    max-width: 984px;
  }
}
